<mat-card class="cardWithShadow">
  <mat-card-content class="p-24">
    <div class="row justify-content-between">
      <div class="col-lg-4">
        <mat-form-field appearance="outline" class="w-100 hide-hint">
          <input
            matInput
            placeholder="Search Car Details"
            (keyup)="applyFilter($any($event.target).value)"
          />
          <mat-icon matSuffix>
            <i-tabler name="search" class="icon-20"></i-tabler>
          </mat-icon>
        </mat-form-field>
      </div>
      <div class="col-lg-4 d-flex align-items-center justify-content-end">
        <button mat-flat-button (click)="openDialog('Add', {})" color="primary">
          Add Cars
        </button>
      </div>
    </div>
  </mat-card-content>
</mat-card>
<mat-card class="cardWithShadow">
  <mat-card-content class="p-24">
    <div class="table-responsive">
      <table mat-table [dataSource]="dataSource" class="w-100">
        <ng-container matColumnDef="#">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">#</th>
          <td mat-cell *matCellDef="let element">{{ element.id }}</td>
        </ng-container>

        <ng-container matColumnDef="model">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">Model</th>
          <td mat-cell *matCellDef="let element">
            <div class="d-flex align-items-center">
              <img
                class="rounded-circle"
                [src]="element.Image"
                width="40"
              />
              <div class="m-l-16">
                <p class="f-w-600 mat-subtitle-1 f-s-16 m-t-0">
                  {{ element.model }}
                </p>
                <small class="mat-body-1 f-s-14">{{ element.Position }}</small>
              </div>
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="plate_number">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
            Plate_number
          </th>
          <td mat-cell *matCellDef="let element" class="f-s-14">{{ element.plate_number}}</td>
        </ng-container>

        <ng-container matColumnDef="price">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
            Price
          </th>
          <td mat-cell *matCellDef="let element" class="f-s-14">{{ element.price }}</td>
        </ng-container>

        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
            Description
          </th>
          <td mat-cell *matCellDef="let element" class="f-s-14">
            {{ element.description }}
          </td>
        </ng-container>

        <ng-container matColumnDef="mileage">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
            Mileage
          </th>
          <td mat-cell *matCellDef="let element" class="f-s-14">
            {{ element.mileage }}
          </td>
        </ng-container>

        <ng-container matColumnDef="ac">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
            AC
          </th>
          <td mat-cell *matCellDef="let element" class="f-s-14">
            {{ element.ac }}
          </td>
        </ng-container>

        <ng-container matColumnDef="luggage">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
            Luggage
          </th>
          <td mat-cell *matCellDef="let element" class="f-s-14">
            {{ element.luggage }}
          </td>
        </ng-container>

        <ng-container matColumnDef="seats">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
            Seats
          </th>
          <td mat-cell *matCellDef="let element" class="f-s-14">
            {{ element.seats }}
          </td>
        </ng-container>

        <ng-container matColumnDef="fuel">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
            Fuel
          </th>
          <td mat-cell *matCellDef="let element" class="f-s-14">
            {{ element.fuel }}
          </td>
        </ng-container>

        <ng-container matColumnDef="brand">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
            Brand
          </th>
          <td mat-cell *matCellDef="let element" class="f-s-14">
            {{ element.brand }}
          </td>
        </ng-container>

        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
            Action
          </th>
          <td mat-cell *matCellDef="let element" class="action-link">
            <a
              (click)="openDialog('Update', element)"
              class="m-r-10 cursor-pointer"
              ><i-tabler name="edit" class="icon-18"></i-tabler
            ></a>
            <a
              (click)="openDialog('Delete', element)"
              class="m-r-10 cursor-pointer"
            >
              <i-tabler name="trash" class="icon-18"></i-tabler>
            </a>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
      <mat-paginator
        [pageSizeOptions]="[5, 10, 20]"
        showFirstLastButtons
      ></mat-paginator>
    </div>
  </mat-card-content>
</mat-card>
